body { 
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

canvas {
	height: 100%;
	width: 100%;
}

.moves-container{
	background: rgba(255, 255, 255, .5);
	color: black;
	padding: 1em;
	position: absolute;
	right: 1em;
	text-align: center;
	top: 1em;
	z-index: 10;
}